<div class="panel panel-default">
  <div class="panel-heading"><small><%= comment.user.name %></small></div>
    <ul class="comment">
      <div class="panel-body">
        <p class=""><%= comment.body %></p> 
      </div>
  </ul>
</div>

